@charset "UTF-8";
:root {
  /*fonts*/
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /*text-colors*/
  --main-txt-cl: #757575;
  --secondary-txt-cl: #212121;
  --accent-cl: #2196f3;
  --secondary-txt-white: #ffffff;
  --secondary-txt-black: #000000;
  /*background-colors*/
  --main-bg-cl: #ffffff;
  --secondary-bg-cl: #f5f4fa;
  --dark-bg-cl: #2f303a;
  --bgd-button: #2196f3;
  --secondary-bgd-button: #188ce8;
  /*border-colors*/
  --border-header: #ececec;
  --border-cards-portfolio: #eeeeee;
  /*icon-colors*/
  --icon-header-cl: #757575;
  --icon-main-color: #afb1b8;
  --icon-accent-cl: #2196f3;
  --icon-footer-color: #ffffff;
  --icon-modal:#212121;
  /*animation*/
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  background-color: var(--main-bg-cl);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  -webkit-transition: opacity 700ms ease, visibility 400ms ease-in-out;
  transition: opacity 700ms ease, visibility 400ms ease-in-out;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  height: 609px;
  padding: 40px;
  background-color: var(--main-bg-cl);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: opacity 250ms ease-in-out 250ms, -webkit-transform 250ms ease-in-out 250ms;
  transition: opacity 250ms ease-in-out 250ms, -webkit-transform 250ms ease-in-out 250ms;
  transition: transform 250ms ease-in-out 250ms, opacity 250ms ease-in-out 250ms;
  transition: transform 250ms ease-in-out 250ms, opacity 250ms ease-in-out 250ms, -webkit-transform 250ms ease-in-out 250ms;
}

@media screen and (min-width: 479.98px) {
  .modal-wrapper {
    width: 450px;
  }
}

@media screen and (min-width: 1199.98px) {
  .modal-wrapper {
    width: 528px;
    height: 581px;
  }
}

.backdrop.is-hidden .modal-wrapper {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 0;
}

.backdrop.modal-wrapper {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: border var(--animation), fill var(--animation);
  transition: border var(--animation), fill var(--animation);
  cursor: pointer;
}

.modal-btn:hover, .modal-btn:focus {
  fill: var(--icon-accent-cl);
  border: 1px solid var(--icon-accent-cl);
}

.modal-title {
  display: block;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--secondary-txt-cl);
  margin-bottom: 12px;
}

.form-modal-group, .form-policy-group {
  display: block;
  margin-bottom: 10px;
}

.form-modal-group {
  position: relative;
}

.form-modal-label {
  position: relative;
  display: block;
  text-align: left;
  margin-bottom: 4px;
  font-family: var(--main-font);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-txt-cl);
}

.form-modal-input {
  width: 100%;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  cursor: pointer;
  -webkit-transition: border var(--animation);
  transition: border var(--animation);
}

.form-modal-input:focus {
  border: 1px solid var(--accent-cl);
}

.form-modal-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: var(--icon-modal);
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

.form-modal-input:focus ~ .form-modal-icon {
  fill: var(--accent-cl);
}

.form-modal-group:focus-within .form-modal-input,
.form-modal-group:hover .form-modal-input {
  border: 1px solid var(--accent-cl);
}

.form-modal-group:focus-within .form-modal-icon,
.form-modal-group:hover .form-modal-icon {
  fill: var(--accent-cl);
}

.form-modal-comments {
  display: block;
  width: 218px;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 0;
  cursor: pointer;
  -webkit-transition: border var(--animation);
  transition: border var(--animation);
  margin-bottom: 20px;
}

@media screen and (min-width: 479.98px) {
  .form-modal-comments {
    width: 370px;
  }
}

@media screen and (min-width: 1199.98px) {
  .form-modal-comments {
    width: 448px;
  }
}

.form-modal-comments:focus {
  border: 1px solid var(--accent-cl);
}

.form-modal-group:focus-within .form-modal-comments,
.form-modal-group:hover .form-modal-comments {
  border: 1px solid var(--accent-cl);
}

.form-policy-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--secondary-txt-black);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.custom-checkbox {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2px;
  outline: 2px solid var(--icon-modal);
  outline-offset: -2px;
  cursor: pointer;
  -webkit-transition: background-color var(--animation), outline var(--animation);
  transition: background-color var(--animation), outline var(--animation);
}

.custom-checkbox:hover, .custom-checkbox:focus {
  outline: 2px solid var(--icon-accent-cl);
}

.checkbox:checked + .custom-checkbox {
  background-color: var(--icon-accent-cl);
  outline: none;
}

.form-modal-icon-check {
  fill: var(--icon-footer-color);
  opacity: 0;
  -webkit-transition: opacity var(--animation);
  transition: opacity var(--animation);
}

.checkbox:checked + .custom-checkbox .form-modal-icon-check {
  opacity: 1;
}

.form-policy-desc {
  font-family: var(--main-font);
  font-size: 12px;
  line-height: 1.16;
  color: var(--main-txt-cl);
}

@media screen and (min-width: 1199.98px) {
  .form-policy-desc {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form-police-link {
  color: var(--accent-cl);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.submit-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 55px;
  margin-top: 30px;
  background-color: var(--bgd-button);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-bg-cl);
  cursor: pointer;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}

.submit-btn:hover, .submit-btn:focus {
  background-color: var(--secondary-bgd-button);
}

/*Форма подписки*/
.footer-right-side {
  width: 100%;
}

@media screen and (max-width: 1199.98px) {
  .footer-right-side {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-right-side {
    width: 570px;
    margin-left: auto;
  }
}

.footer-form-title {
  display: block;
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-txt-white);
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199.98px) {
  .footer-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-right-side {
  margin-left: auto;
}

.footer-form__input {
  padding: 15px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: border var(--animation);
  transition: border var(--animation);
  cursor: pointer;
  width: 290px;
}

@media screen and (min-width: 480px) and (max-width: 1199.98px) {
  .footer-form__input {
    width: 450px;
  }
}

@media screen and (max-width: 1199.98px) {
  .footer-form__input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1199.98px) {
  .footer-form__input {
    width: 358px;
    margin-right: 12px;
  }
}

.footer-form__input:hover, .footer-form__input:focus {
  border-color: var(--accent-cl);
}

.footer-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: var(--bgd-button);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  gap: 10px;
  width: 200px;
  height: 50px;
  padding: 10px 29px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-bg-cl);
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
  cursor: pointer;
}

.footer-form__btn:hover, .footer-form__btn:focus {
  background-color: var(--secondary-bgd-button);
}

.footer-form__icon {
  fill: var(--icon-footer-color);
}

/*-----------------
| Header section
-------------------*/
.header {
  border-bottom: 1px solid var(--border-header);
}

.header-container {
  position: relative;
}

@media screen and (min-width: 767.98px) {
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 767.98px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767.98px) {
  .header-logo {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .header-logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header-logo {
    margin-right: 93px;
  }
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-cl);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}

.link:hover, .link:focus {
  color: var(--accent-cl);
}

.logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-cl);
}

.logo-studio {
  color: var(--secondary-txt-black);
}

@media screen and (max-width: 767.98px) {
  .navigation-list {
    display: none;
  }
}

@media screen and (min-width: 767.98px) {
  .navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 767.98px) {
  .navigation-list__item {
    margin-right: 50px;
  }
  .navigation-list__item:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 767.98px) {
  .navigation-list__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 767.98px) {
  .navigation-list__link.navigation-list__link--current::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--bgd-button);
    border-radius: 2px;
    margin-bottom: -5px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-list__link.navigation-list__link--current::after {
    margin-bottom: -1px;
  }
}

@media screen and (max-width: 767.98px) {
  .contacts {
    display: none;
  }
}

@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
}

@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .contacts__item {
    margin-bottom: 10px;
  }
  .contacts__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item {
    margin-right: 50px;
  }
  .contacts__item:last-child {
    margin-right: 0;
  }
}

.contacts__link {
  color: var(--main-txt-cl);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}

@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .contacts__link {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  fill: var(--icon-accent-cl);
}

.navigation-list__link--current {
  color: var(--accent-cl);
}

.contacts__icon {
  fill: var(--icon-header-cl);
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .contacts__icon {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__icon {
    margin-right: 10px;
  }
}

.header-menu__btn {
  position: absolute;
  top: 10px;
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: var(--main-bg-cl);
  cursor: pointer;
  border: none;
  background-color: transparent;
  z-index: 50;
}

@media screen and (min-width: 767.98px) {
  .header-menu__btn {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header-menu__btn {
    display: none;
  }
}

.header-menu__icon-cross {
  display: none;
}

.header-menu__btn.is-open .header-menu__icon-cross {
  display: block;
}

.header-menu__btn.is-open .header-menu__icon-menu {
  display: none;
}

.header-menu__btn:hover .header-menu__icon-menu,
.header-menu__btn:focus .header-menu__icon-menu {
  fill: var(--accent-cl);
}

.header-menu__btn:hover.is-open .header-menu__icon-cross,
.header-menu__btn:focus.is-open .header-menu__icon-cross {
  fill: var(--icon-modal);
}

.menu-container {
  display: none;
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-cl);
  padding: 48px 40px;
  z-index: 10;
}

.menu-container.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  overflow: scroll;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-menu-list__item {
  margin-bottom: 32px;
}

.modal-menu-list__item:last-child {
  margin-bottom: 0;
}

.modal-menu-list__link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.modal-menu__link--current {
  color: var(--accent-cl);
}

.modal-menu-contacts {
  margin-top: auto;
}

.modal-menu-contacts__item {
  margin-bottom: 32px;
}

.modal-menu-contacts__item:last-child {
  margin-bottom: 0;
}

.modal-menu-contacts__link-tel {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-cl);
}

.modal-menu-contacts__link-mail {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}

.mobile-menu__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 64px;
}

.mobile-menu__item {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__item:first-child {
  padding-left: 0;
}

.mobile-menu__item:last-child {
  border-right: none;
}

.mobile-menu__link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-cl);
}

body.mobile-menu-open {
  overflow: hidden;
}

/*-----------------
| Hero section
-------------------*/
.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: var(--dark-bg-cl);
  max-width: 320px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/bg-hero_sm.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-hero_sm.jpg);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/bg-hero_sm@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-hero_sm@2x.jpg);
  }
}

@media screen and (min-width: 480px) {
  .hero {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/bg-hero_md.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-hero_md.jpg);
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/bg-hero_md@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-hero_md@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/bg-hero_lg.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-hero_lg.jpg);
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/bg-hero_lg@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-hero_lg@2x.jpg);
  }
}

.hero-title {
  max-width: 360px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-txt-white);
}

@media screen and (min-width: 1199.98px) {
  .hero-title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-btn {
  padding: 10px 32px;
  border: 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-txt-white);
  background-color: var(--bgd-button);
  cursor: pointer;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}

.hero-btn:hover, .hero-btn:focus {
  background-color: var(--secondary-bgd-button);
}

/*-----------------
| Benefits section
-------------------*/
@media screen and (min-width: 1200px) {
  .benefits {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .benefits-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.benefits-list__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .benefits-list__item {
    width: 354px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .benefits-list__item:nth-child(odd) {
    margin-right: 30px;
  }
  .benefits-list__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-list__item {
    display: inline;
    width: 270px;
    margin-right: 30px;
    margin-bottom: 0;
  }
  .benefits-list__item:last-child {
    margin-right: 0;
  }
}

.container-icon {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--secondary-bg-cl);
  border-radius: 4px;
  margin-bottom: 30px;
}

.benefits-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-txt-cl);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .benefits-list__title {
    display: block;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-list__title {
    display: block;
  }
}

.benefits-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: currentColor;
}

/*-----------------
| Section What are we doing
-------------------*/
@media screen and (max-width: 1199.98px) {
  .work {
    display: none;
    padding: 0;
  }
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 294px;
}

.work-list__item {
  position: relative;
  margin-right: 30px;
}

.work-list__item:last-child {
  margin-right: 0;
}

.work-list__text {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: var(--main-font);
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-txt-white);
}

/*-----------------
| Section Our team
-------------------*/
.team {
  background-color: var(--secondary-bg-cl);
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team-item {
  background-color: var(--main-bg-cl);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767.98px) {
  .team-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 30px;
  }
  .team-item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team-item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
  .team-item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .team-item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
    margin-right: 30px;
  }
  .team-item:last-child {
    margin-right: 0;
  }
}

.members-group {
  padding-top: 30px;
  padding-bottom: 30px;
}

.members-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
}

.members-position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: currentColor;
}

.socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials-items:not(:last-child) {
  margin-right: 10px;
}

.socials-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}

.socials-link:hover, .socials-link:focus {
  background-color: var(--icon-accent-cl);
}

.socials-icons {
  fill: var(--icon-main-color);
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

.socials-link:hover .socials-icons,
.socials-link:focus .socials-icons {
  fill: var(--icon-footer-color);
}

/*-----------------
| Clients-group section
-------------------*/
.clients-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.clients-group__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 15px;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .clients-group__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .clients-group__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-group__item {
    -ms-flex-preferred-size: calc((100% - 180px) / 6);
        flex-basis: calc((100% - 180px) / 6);
  }
}

.clients-group__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--icon-main-color);
  border-radius: 4px;
  width: 210px;
  height: 92px;
  -webkit-transition: border var(--animation);
  transition: border var(--animation);
}

@media screen and (min-width: 768px) {
  .clients-group__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-group__link {
    width: 170px;
  }
}

.clients-group__link:hover, .clients-group__link:focus {
  border: 1px solid var(--icon-accent-cl);
}

.clients-group__link:hover .clients-group__icon,
.clients-group__link:focus .clients-group__icon {
  fill: var(--icon-accent-cl);
}

.clients-group__icon {
  fill: var(--icon-main-color);
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

/*-----------------
| Footer section
-------------------*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-cl);
}

@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .join {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .join {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.container-address {
  text-align: center;
}

@media screen and (min-width: 1199.98px) {
  .container-address {
    margin-right: 70px;
    text-align: start;
  }
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.footer-logo-studio {
  color: var(--secondary-txt-white);
}

.footer-address {
  font-style: normal;
}

@media screen and (max-width: 1199.98px) {
  .footer-list {
    margin-bottom: 60px;
  }
}

.footer-list__address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-white);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}

.footer-list__address:hover, .footer-list__address:focus {
  color: var(--accent-cl);
}

.footer-list__item {
  margin-bottom: 9px;
}

.footer-list__item:last-child {
  margin-bottom: 0;
}

.footer-list__contact-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}

.footer-list__contact-item:hover, .footer-list__contact-item:focus {
  color: var(--accent-cl);
}

@media screen and (max-width: 1199.98px) {
  .footer-join {
    margin-bottom: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.join-title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-txt-white);
}

.join-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1200px) {
  .join-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.join-list__item:not(:last-child) {
  margin-right: 10px;
}

.join-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}

.join-list__link:hover, .join-list__link:focus {
  background-color: var(--icon-accent-cl);
}

.join-list__icon {
  fill: var(--icon-footer-color);
}

/*======================
| Main content page portfolio
========================*/
.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 40px;
}

@media screen and (min-width: 767.98px) {
  .portfolio-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1199.98px) {
  .portfolio-list {
    margin-bottom: 50px;
  }
}

.portfolio-list__item {
  margin-right: 8px;
}

.portfolio-list__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767.98px) {
  .portfolio-list__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 15px;
  }
}

.portfolio-list__btn {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
  background-color: var(--secondary-bg-cl);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color var(--animation), color var(--animation), -webkit-box-shadow var(--animation);
  transition: background-color var(--animation), color var(--animation), -webkit-box-shadow var(--animation);
  transition: background-color var(--animation), color var(--animation), box-shadow var(--animation);
  transition: background-color var(--animation), color var(--animation), box-shadow var(--animation), -webkit-box-shadow var(--animation);
}

.portfolio-list__btn:hover, .portfolio-list__btn:focus {
  color: var(--secondary-txt-white);
  background-color: var(--bgd-button);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 767.98px) {
  .portfolio-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.portfolio-cards-item {
  display: block;
  margin-bottom: 30px;
  background-color: var(--main-bg-cl);
}

@media screen and (max-width: 767.98px) {
  .portfolio-cards-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 30px;
  }
  .portfolio-cards-item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 767.98px) {
  .portfolio-cards-item:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .portfolio-cards-item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
  .portfolio-cards-item:nth-last-child(-n+1) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1199.98px) {
  .portfolio-cards-item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-cards-item:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-cards-item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

.portfolio-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  text-decoration: none;
  color: currentColor;
  -webkit-transition: -webkit-box-shadow var(--animation);
  transition: -webkit-box-shadow var(--animation);
  transition: box-shadow var(--animation);
  transition: box-shadow var(--animation), -webkit-box-shadow var(--animation);
}

.portfolio-link:hover, .portfolio-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.img-container {
  position: relative;
  overflow: hidden;
}

.cards-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-white);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform var(--animation);
  transition: -webkit-transform var(--animation);
  transition: transform var(--animation);
  transition: transform var(--animation), -webkit-transform var(--animation);
}

.portfolio-link:hover .cards-overlay-text,
.portfolio-link:focus .cards-overlay-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card-group {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border: 1px solid var(--border-cards-portfolio);
  border-top: none;
}

.cards-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-txt-cl);
}

.cards-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: currentColor;
}
/*# sourceMappingURL=main.css.map */