.container {
  padding-right: 15px;
  padding-left: 15px;

  margin-right: auto;
  margin-left: auto;
  
 // mobile screen from 480px
@include mq(mobile){
  width: 480px;
}

// tablet screen
@include mq(tablet){
  width: 768px;
}

 // desktop screen
@include mq(desktop){
  width: 1200px;
}

}